@model WebAppRestaurante.Models.Restaurante

@{
    ViewBag.Title = "Cadastro de Restaurantes";
}

<h4>Cadastro de Restaurantes</h4>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p style="text-align:left" class = "control-label col-md-10">Nome do Restaurante</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "col-md-10" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger col-md-10" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <a href="/Restaurantes" class="btn btn-danger btn-sm"><span class="glyphicon-arrow-left"></span>&nbsp; Cancelar</a>
                &nbsp;<input type="submit" value="Salvar" class="btn btn-success btn-sm" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
